<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item class="header">
      <ion-icon name="chevron-back-outline" (click)="handleBack()"></ion-icon>
      <ion-title>{{ title }}</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!type">
  <ion-label class="tip">提示：服务售卖前必须完成身份认证</ion-label>
  <ion-label class="certification-title">身份认证</ion-label>
  <ion-item class="personal" (click)="goCerfication()">
    <ion-icon name="person-circle-outline"></ion-icon>
    <ion-label>
      <h3>个人认证(没有营业执照)</h3>
      <p>您可以输入身份证信息和手机号进行身份认证。</p>
    </ion-label>
    <ion-text class="right-allow">
      未认证
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-text>
  </ion-item>
</ion-content>

<ion-content *ngIf="type === 'authentication'">
  <ion-label class="tip">提示：服务售卖前必须完成身份认证</ion-label>
  <ion-label class="certification-title">
    个人认证
    <ion-text *ngIf="!authentication?.checkSuccess">- 认证中(需要管理员验证通过认证信息)</ion-text>
  </ion-label>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-label>姓名: </ion-label>
        <ion-text>{{ authentication?.name }}</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label>身份证号: </ion-label>
        <ion-text>{{ authentication?.idCard }}</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngFor="let img of authentication?.imgUrl">
        <section>
          <img [src]="img" />
        </section>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-content class="certification" *ngIf="type === 'certification'">
  <ion-item>
    <ion-label><p>请输入您的真实资料完成认证</p></ion-label>
  </ion-item>
  <ion-item>
    <ion-label>真实姓名</ion-label>
    <ion-input placeholder="输入姓名" [(ngModel)]="name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>身份证号</ion-label>
    <ion-input placeholder="输入身份证号" [(ngModel)]="idCard"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>身份证照片</ion-label>
    <ion-button (click)="handleFileButton()">点击上传身份证</ion-button>
  </ion-item>
  <ion-grid *ngIf="imgUrl && imgUrl.length">
    <ion-row>
      <ion-col *ngFor="let item of imgUrl">
        <section>
          <img [src]="item" />
        </section>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button expand="full" (click)="handleCerfication()">立即认证</ion-button>
  <p class="tip">点击“立即认证”代表授权服务使用信息进行身份核实</p>
</ion-content>

<input #file class="hidden" type="file" accept="image/*" (change)="uploadFile()" />
