<ion-header>
  <ion-toolbar>
    <ion-item class="header">
      <ion-icon name="chevron-back-outline" (click)="handleBack()"></ion-icon>
      <ion-title>{{ activeType?.title }}</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<!-- 未认证 -->
<ion-content class="certification" [fullscreen]="true" *ngIf="activeType?.key === 'certification'">
  <ion-img src="https://static.daojia.com/jz/common/common-resource/cdnHtml/baomu/bm-channel/index/res/banner.png?v=201909041915"></ion-img>
  <ion-item class="title">
    <ion-label>完成以下2步即可接单赚钱啦</ion-label>
  </ion-item>
  <ion-text class="step-title">第一步</ion-text>
  <ion-item class="step" (click)="goCertification()">
    <ion-icon name="person-circle-outline"></ion-icon>
    <ion-label>提交身份认证</ion-label>
    <ion-text class="right-allow">
      去认证
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-text>
  </ion-item>

  <ion-text class="step-title">第二步</ion-text>
  <ion-item class="step">
    <ion-icon name="reader-outline"></ion-icon>
    <ion-label>加入直约</ion-label>
    <ion-text class="right-allow">
      接平台订单
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-text>
  </ion-item>
</ion-content>

<ion-content *ngIf="activeType?.key === message">
  <ion-card *ngFor="let item of messages">
    <ion-item>
      <ion-label>{{ item?.name }}</ion-label>
    </ion-item>
  </ion-card>
</ion-content>

<!-- 设置 -->
<ion-footer *ngIf="activeType?.key === 'setting'">
  <ion-toolbar>
    <ion-button expand="full" (click)="signOut()">退出登录</ion-button>
  </ion-toolbar>
</ion-footer>